name: github pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup mdBook (with plugins)
        uses: jontze/action-mdbook@v2
        with:
            token: ${{secrets.GITHUB_TOKEN}}
            mdbook-version: '0.4.52'
            use-admonish: true


      - run: mdbook build

      - name: Fix navigation paths for production
        run: ./inject-base-url.sh "" "./book"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.6.4
        with:
          folder: book
          branch: gh-pages
          clean-exclude: pr-preview/
