name: github pages

on:
  push:
    branches:
      - main
  pull_request:
    types:
        - closed

jobs:
  deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup mdBook (with plugins)
        uses: jontze/action-mdbook@v2
        with:
            token: ${{secrets.GITHUB_TOKEN}}
            mdbook-version: 'latest'
            use-admonish: true
            admonish-version: "~2.0.0"

      #- name: Setup mdBook
      #  uses: peaceiris/actions-mdbook@v1
      #  with:
          # mdbook-version: '0.4.10'
      #    mdbook-version: 'latest'

      - run: mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
          cname: docs.cloud.tamu.edu