name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths-ignore:
      - .devcontainer/**
      - .github/**
      - README.md

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup mdBook
        uses: jontze/action-mdbook@v3
        if: github.event.action != 'closed'
        with:
            token: ${{secrets.GITHUB_TOKEN}}
            mdbook-version: '0.5.2'

      - name: Build mdBook site
        run: mdbook build
        if: github.event.action != 'closed'
        env:
          MDBOOK_OUTPUT__HTML__SITE_URL: /pr-preview/pr-${{ github.event.number }}/

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./book/
