name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths-ignore:
      - .devcontainer/**
      - .github/**
      - README.md

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup mdBook (with plugins)
        uses: jontze/action-mdbook@v2
        if: github.event.action != 'closed'
        with:
            token: ${{secrets.GITHUB_TOKEN}}
            mdbook-version: '0.4.52'
            use-admonish: true

      - name: Build mdBook site
        run: mdbook build
        if: github.event.action != 'closed'

      - name: Inject base URL for PR preview
        run: ./inject-base-url.sh "/pr-preview/pr-${{ github.event.number }}/" "./book"
        if: github.event.action != 'closed'

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1.6.3
        with:
          source-dir: ./book/
