name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths-ignore:
      - .devcontainer/**
      - .github/**
      - README.md

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup mdBook
        uses: jontze/action-mdbook@v3
        if: github.event.action != 'closed'
        with:
            token: ${{secrets.GITHUB_TOKEN}}
            mdbook-version: '0.5.2'

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        if: github.event.action != 'closed'

      - name: Build and install mdbook-admonish with mdBook 0.5 support
        if: github.event.action != 'closed'
        run: |
          git clone https://github.com/CoralPink/mdbook-admonish.git /tmp/mdbook-admonish
          cd /tmp/mdbook-admonish
          git checkout dbe075cc4ab2c524eb6fca86699d0e367e06364b
          cargo install --path . --locked
          mdbook-admonish --version

      - name: Install mdbook-admonish assets
        if: github.event.action != 'closed'
        run: mdbook-admonish install .

      - name: Build mdBook site
        run: mdbook build
        if: github.event.action != 'closed'
        env:
          MDBOOK_OUTPUT__HTML__SITE_URL: /pr-preview/pr-${{ github.event.number }}/

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./book/
